<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BisaDesign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #1f1f1f">
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    style="margin-top: 3px; margin-right: 4px"
  >
    <ion-fab-button size="small" color="light" (click)="logout()">
      <ion-icon
        ios="exit-outline"
        md="exit-sharp"
        style="color: #22c47e"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Konten Utama -->
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: white;
      text-align: center;
    "
  >
    <p style="font-size: 24px">Selamat datang, {{ nama }}</p>
  </div>
</ion-content>
